@font-face {
  font-family: "Outfit";
  src: url(../fonts/Outfit/static/Outfit-Regular.ttf);
}

@font-face {
  font-family: "Outfit-Bold";
  src: url(../fonts/Outfit/static/Outfit-Bold.ttf);
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;   
}

body {
  background-color: white;
  display: flex;
  flex-direction: column;
  font-family: "Outfit", sans-serif;
  align-items: center;
}

.container{
    width: 100%;
    max-width: 650px;
    padding: 20px;
    margin: 0 auto;
}

.titulo{
  text-align: center;
  margin-bottom: 40px;
}

.titulo h1{
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 10px;
  
}

.separador{
  width: 130px;
  margin-top: 20px;
}

.articulo{
  display: flex;
  align-items: center;
  gap: 25px;
  margin-bottom: 40px;
}

.img{
  width: 130px;
  height: 130px;
  border-radius: 15px;
  margin-right: 25px;
}

.articulo-texto h2{
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 6px;
  max-width: 480px;
}

.fecha{
  font-size: 12px;
  font-weight: 600; 
  color: rgb(128, 123, 123);
  margin-top: 15px;
}


.author-info {
    font-size: 13px;
    text-align: center;
    margin-top: 16px;
    color: rgb(55, 65, 81);
    
}

.author-info a {
    text-decoration: none;
}


/* Responsivo tablet */
@media (max-width: 1028px) {
  .container{
    max-width: 800px;  
    margin: 0 auto;
  }
}

/* Responsivo celular */
@media (max-width: 412px) {

  .container{
    padding: 20px 16px;
  }

  .titulo h1{
    font-size: 30px;
    max-width: 320px;
    margin-left: auto;
    margin-right: auto;
  }

  .articulo{
    flex-direction: column;      
    align-items: flex-start;
    gap: 15px;
  }

  .img{
    width: 150px;
    height: auto;
    margin-right: 0;
  }

  .articulo-texto h2{
    max-width: 100%;
  }

}